Host <host_you_want_as>
    IdentityFile ~/.private/ssh/<private_key_file>
    Hostname example.com
    User <username>

Host *
    controlpath ~/.ssh/master-%r@%h:%p
    controlmaster auto

Host *.amazonaws.com
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  User ubuntu
  LogLevel QUIET
