[include]

	path = ~/.private/.gitconfig

[alias]

	# Delete all locally merged branches, except master, dev, qa, prod
	b = blame -M -CC
	bclean = "!f() { git branch --merged ${1-main} | egrep -v 'main|master|dev|qa|prod' | xargs -n 1 git branch -d; }; f"
	bD = branch -D
	bM = branch -M
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	bra = branch -va
	bru = branch -u
	c = commit -am
	cd = "!f() { git checkout develop 2> /dev/null || git checkout dev 2> /dev/null || echo 'Neither develop nor dev branch found'; }; f"
	ci = commit -v
	cia = commit --amend -va
	cl = clone
	cm = "!f() { git checkout main 2> /dev/null || git checkout master 2> /dev/null || echo 'Neither master nor main branch found'; }; f"
	co = checkout
	cob = checkout -b
	conf = config --list
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cpq = cherry-pick --quit
	df = diff --color --color-words --abbrev
	ec = config --global -e
	f = fetch
	fa = fetch --all
	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	fo = fetch origin
	g = grep -p
	h = help
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lm = log --color --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%<(8,trunc)%an>%Creset' --no-merges
	lg = log -p
	p = push
	r = reset
	ra = rebase --abort
	rad = remote add
	rc = rebase --continue
	re = rebase
	rem = rebase origin/master
	rh = reset --hard
	ri = rebase --interactive --autosquash
	rim = rebase -i master
	rpr = remote prune
	rre = remote rename
	rrm = remote rm
	rs = rebase --skip
	rsu = remote set-url
	rt = remote -v
	s = status -sb
	sad = submodule add
	sc = stash clear
	sd = stash drop
	simple = log --pretty=format:\" * %s\"
	sl = log --format=oneline --abbrev-commit
	sp = stash pop
	squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	ss = stash save
	t = tag -n
	td = tag -d
	up = !sh -c 'git pull --rebase --prune $@ && git submodule update --init --recursive && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'

	# search commit
	se = !git rev-list --all | xargs git grep -F

	# Display the number of commits per author in numerical order
	who = !echo \"== Commits by Author:\\n`git shortlog -s -n`\\n\"

	today = !git log --since=midnight --author=\"$(git config user.name)\" --oneline
	week = !git log --since=1.weeks --author=\"$(git config user.name)\" --oneline
	yesterday = !git log --since=\"2 day ago\" --until=midnight --author=\"$(git config user.name)\" --oneline
	ls = ls-files

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# File level ignoring
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

	apply-gitignore = "!git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached"

	# snapshot stashes
	snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"

	# merging
	ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"

	# GitHub Pull Request Management
	pr = "!f() { git fetch -fu origin refs/pull/$1/head:pr/$1; } ; f"

	# Merge GitHub pull request on top of the current branch or,
	# if a branch name is specified, on top of the specified branch
	mpr = "!f() { \
		declare currentBranch=\"$(git symbolic-ref --short HEAD)\"; \
		declare branch=\"${2:-$currentBranch}\"; \
		if [ $(printf \"%s\" \"$1\" | grep '^[0-9]\\+$' > /dev/null; printf $?) -eq 0 ]; then \
			git fetch origin refs/pull/$1/head:pr/$1 && \
			git checkout -B $branch && \
			git rebase $branch pr/$1 && \
			git checkout -B $branch && \
			git merge pr/$1 && \
			git branch -D pr/$1 && \
			git commit --amend -m \"$(git log -1 --pretty=%B)\n\nCloses #$1.\"; \
		fi \
	}; f"

	reauthor = !sh -c 'eval `git log --reverse --topo-order --pretty=format:\"git cherry-pick -m 1 %H &&  git commit --amend -C %H --author=\\\"%aN <%aE>\\\" && \" $0 ` "echo success" '

	# Initialize git in a better way
	# Adds .gitattributes, .gitignore and Readme.md file
	ini = "!f() { git init && echo \"* text=auto\" >> .gitattributes && touch .gitignore README.md && git status; }; f"

	pf = push --force-with-lease

    # Taken from here: https://aaronbonner.io/post/80766268890/git-alias-to-simplify-setting-upstream-branch
    sup = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"

[color]

	ui = auto

[core]

	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	filemode = false
	autocrlf = false
	ui = auto

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

[diff]
	external = difft
	# tool = vimdiff
	submodule = log
	algorithm = histogram

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[merge]

	log = true
	tool = vimdiff

[rebase]

	autosquash = true
	autostash = true

[status]

	short = true
	branch = true

[log]

	date = relative
	mailmap = true

[grep]

	lineNumber = true

[blame]

	date = relative
	blankboundary = true
	showroot = true

[pull]
	rebase = true

[push]

	default = current

[format]

	signoff = true
	coverLetter = auto

[commit]

	template = ~/.gitmessage
	gpgsign = true

[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:theskumar/"]
  insteadOf = "git://github.com/theskumar/"

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[init]
	defaultBranch = main

[user]
	signingkey = 05B68DA30A7FFCE9



[rerere]
	# Remember and auto apply conflict resolutions from previous merges
	enabled = true
	autoUpdate = true
[gitbutler]
	gitbutlerCommitter = 0
