# Django Stuff
alias djrun='find . -maxdepth 2 -name 'manage.py' -exec python "{}" runserver \;'

alias etchost='sudo subl /etc/hosts'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Easier navigation: ~ and -
alias ~="cd ~" # `cd` is probably faster to type though

alias incognito='export HISTFILE=/dev/null'

# Super user
alias _='sudo'


alias rcopy="rsync -av --progress -h"
alias rmove="rsync -av --progress -h --remove-source-files"
alias rupdate="rsync -avu --progress -h"
alias rsynchronize="rsync -avu --delete --progress -h"

# programs
if hash ipython 2>/dev/null; then
  alias py=ipython
else
  alias py=python
fi

# `cat` with beautiful colors. requires Pygments installed.
#     sudo easy_install Pygments
alias catn='cat -n'
alias s='subl'


# clear does not take you to top anymore
alias clear='echo -e "\e[2J"'

alias scour="python ~/bin/scour/scour.py"
alias selenium="java -jar ~/bin/selenium-server-standalone-2.25.0.jar"
alias sshconfig="s ~/.ssh/config"
alias gitconfig="s ~/.gitconfig"
alias ports='sudo netstat -vatnp'

# ------------------------------------------------------------------------------
# | Shorter Commands                                                           |
# ------------------------------------------------------------------------------
alias d="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias w="cd ~/work"
alias g="git"
alias c='clear'
alias e="vim"
alias rf='rm -rf'
alias pi='pip install'
alias pipfix='piprot --verbatim --latest'
alias pipgrep='pip freeze | grep '
alias q="exit"
alias :q="exit"

# Virtualenv
alias sv='if [[ ! -d "venv" && ! -L "venv" ]] ; then; virtualenv -p $(which python3) venv; touch requirements.txt; fi; source venv/bin/activate; export PS1="(${${PWD##*/}:0:5}…/venv)$_OLD_VIRTUAL_PS1"'
alias sv2='if [[ ! -d "venv" && ! -L "venv" ]] ; then; virtualenv -p $(which python2) venv; touch requirements.txt; fi; source venv/bin/activate; export PS1="(${${PWD##*/}:0:5}…/venv)$_OLD_VIRTUAL_PS1"'
alias sv3=sv

# List direcory contents
alias lsa='ls -lah'
alias l='ls -lahF'
alias ll='ls -l'
alias la='ls -lA'
alias lsd='ls -l | grep "^d"' # list only directories


# ------------------------------------------------------------------------------
# | Git Commands                                                               |
# ------------------------------------------------------------------------------
# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# Use `hub` as our git wrapper:
#   http://defunkt.github.com/hub/
if hash hub 2>/dev/null; then
  alias git=hub
fi

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

alias gp='git push'
alias gap='git add -p; git commit -v; git status -sb'
alias gd='git diff'
alias gdc='git diff --cached'
alias gc='git commit -m'
alias gca='git commit -a'
alias gco='git checkout'
alias gb='git branch -va'
alias gs='git status -sb' # upgrade your git if -sb breaks for you. it's fun.
alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"
alias gaa='git add :/; git status -sb'


# ------------------------------------------------------------------------------
# | Network                                                                    |
# ------------------------------------------------------------------------------

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# IP addresses
alias ip="curl ipinfo.io/ip"
alias localip='python -c "import socket; print(socket.gethostbyname(socket.gethostname()));"'

# Copy my public key to my clipboard
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Gzip-enabled `curl`
alias gurl="curl --compressed"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"
alias pycclean='find . -name \*.pyc -type f -ls -delete'

alias df='df -h'
alias du='du -hs'

alias halt='sudo shutdown -h now'
alias reboot='sudo reboot'

alias -g G='| grep'
alias -g L='| less'
alias -g H='| head'
alias -g T='| tail'
alias -g Y='| xclip && xclip -o | xclip -se c'
alias -g R='$(git rev-parse --show-toplevel 2> /dev/null)'

alias sz='source ~/.zshrc'
alias ez='e ~/.zshrc'

alias rand='tr -c "[:digit:]" " " < /dev/urandom | dd cbs=$COLUMNS conv=unblock | GREP_COLOR="1;32" grep --color "[^ ]"'

# TODOS
# This uses NValt (NotationalVelocity alt fork) - http://brettterpstra.com/project/nvalt/
# to find the note called 'todo'
alias todo='open nvalt://find/todo'

# ------------------------------------------------------------------------------
# | Other                                                                      |
# ------------------------------------------------------------------------------

alias starwars="telnet towel.blinkenlights.nl"
alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T"'
alias week='date +%V'
