# Youtube downloader
alias youtube-mp3='youtube-dl -x --audio-format mp3 --audio-quality 0'

# Django Stuff
alias djrun='find . -maxdepth 2 -name 'manage.py' -exec python "{}" runserver \;'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

alias incognito='export HISTFILE=/dev/null'

alias rcopy="rsync -av --progress -h"
alias rmove="rsync -av --progress -h --remove-source-files"
alias rupdate="rsync -avu --progress -h"
alias rsynchronize="rsync -avu --delete --progress -h"

# Python
if hash ipython 2>/dev/null; then
  alias py=ipython
else
  alias py=python
fi
alias pepfix='autopep8 --max-line-length=120 -i'
alias pi='pip install'
alias pipfix='piprot --verbatim --latest'
alias pipgrep='pip freeze | grep '
alias pycclean='find . -name \*.pyc -type f -ls -delete'

# Virtualenv
alias sv='if [[ ! -d "venv" && ! -L "venv" ]] ; then; virtualenv -p $(which python3) venv; fi; source venv/bin/activate; export PS1="(${${PWD##*/}:0:5}…/venv)$_OLD_VIRTUAL_PS1"'
alias sv2='if [[ ! -d "venv" && ! -L "venv" ]] ; then; virtualenv -p $(which python2) venv; fi; source venv/bin/activate; export PS1="(${${PWD##*/}:0:5}…/venv)$_OLD_VIRTUAL_PS1"'
alias sv3=sv

# `cat` with beautiful colors. requires Pygments installed.
#     sudo easy_install Pygments
alias catn='cat -n'

# clear does not take you to top anymore
alias clear='echo -e "\e[2J"'

alias etchost='sudo e /etc/hosts'
alias sshconfig="s ~/.ssh/config"
alias gitconfig="s ~/.gitconfig"
alias ports='sudo netstat -vatnp'
alias ez='e ~/.zshrc'
alias sz='source ~/.zshrc'

# ------------------------------------------------------------------------------
# | Shorter Commands                                                           |
# ------------------------------------------------------------------------------
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias w="cd ~/work"
alias g="git"
alias s="subl"
alias c="clear"
alias e="vim"
alias rf='rm -rf'
alias q="exit"
alias :q="exit"


# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List directory contents
alias l='eza'
alias ll='eza -l'
alias la='eza -lA'
alias lst='eza -T'

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# ------------------------------------------------------------------------------
# | Git Commands                                                               |
# ------------------------------------------------------------------------------
# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"


# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

alias gp='git push'
alias gap='git add -p; git commit -v; git status -sb'
alias gd='git diff'
alias gdc='git diff --cached'
alias gc='git commit -m'
alias gca='git commit -a'
alias gco='git checkout'
alias gb='git branch -va'
alias gs='git status -sb' # upgrade your git if -sb breaks for you. it's fun.
alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"
alias gaa='git add :/; git status -sb'


# ------------------------------------------------------------------------------
# | Network                                                                    |
# ------------------------------------------------------------------------------

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# IP addresses
alias ip="curl ipinfo.io/ip"
alias localip='ipconfig getifaddr en0'

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Copy my public key to my clipboard
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Gzip-enabled `curl`
alias gurl="curl --compressed"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"


alias df='df -h'
alias du='du -hs'

alias halt='sudo shutdown -h now'
alias reboot='sudo reboot'

alias -g G='| grep'
alias -g L='| less'
alias -g H='| head'
alias -g T='| tail'
alias -g Y='| xclip && xclip -o | xclip -se c'
alias -g R='$(git rev-parse --show-toplevel 2> /dev/null)'

# ------------------------------------------------------------------------------
# | Other                                                                      |
# ------------------------------------------------------------------------------
alias now='date +"%T"'
alias week='date +%V'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Fun
alias starwars="telnet towel.blinkenlights.nl"
