export TZ='Asia/Kolkata'
export ARCHFLAGS=-Wno-error=unused-command-line-argument-hard-error-in-future

# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Some sane color fixes
export CLICOLOR=1
export LSCOLORS=DxGxcxdxCxegedabagacad

export LANG="en_US.UTF-8"
export LC_COLLATE="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
export LC_MESSAGES="en_US.UTF-8"
export LC_MONETARY="en_US.UTF-8"
export LC_NUMERIC="en_US.UTF-8"
export LC_TIME="en_US.UTF-8"
export LC_ALL=


# Let pip install the dependencies from local cache
export PIP_DOWNLOAD_CACHE=$HOME/Library/Caches/pip-downloads
export PYTHONSTARTUP=$HOME/.pythonrc.py
export PYTHONHASHSEED=random

# todotxt.com
export TODOTXT_DEFAULT_ACTION=ls
export TODOTXT_SORT_COMMAND='env LC_COLLATE=C sort -k 2,2 -k 1,1n'

export EC2_HOME=$HOME/bin/ec2
export JAVA_HOME=/Library/JAVA/Home

export PATH=~/bin:~/dotfiles/bin:$PATH
PATH=$PATH:$HOME/bin/ec2/bin # Add PATH to ec2 commandline tools.
# PATH=$PATH:$HOME/.rvm/bin # Add RVM to PATH for scripting

# grep stuff
export GREP_OPTIONS='--color'

